{% extends 'socialnetwork/base.html' %}
{% load static %}

{% block content %}
<div id="id_page_name">Login</div>

<!-- If there was an error in the view, display it here -->
{% if error %}
  <div class="errorlist">{{ error }}</div>
{% endif %}

<form method="post" action="{% url 'login' %}">
  {% csrf_token %}
  
  <!-- Because we're using Django forms, the fields auto-generate 
       "id" attributes like id_username, id_password, etc.
       If you want to ensure exactly those ids, you might 
       manually control it via "id" in the form field widget. -->
       
  {{ form.username.label_tag }} 
  {{ form.username }}

  <br>

  {{ form.password.label_tag }} 
  {{ form.password }}

  <br>

  <button id="id_login_button" type="submit">Submit</button>
</form>


{% endblock %}
